mixin message(message)
    if (message.className === 'received')
        div(class=`${message.className} message-content`)
            if message.isImg
                img(src=`${message.img.path}` alt=`${message.img.alt}`)
                span.message-time__img= message.time
            else
                p= message.content
                span.message-time= message.time
    else if (message.className === 'sent')
        div(class=`${message.className} message-content`)
            if message.isImg
                img(src=`${message.img.path}` alt=`${message.img.alt}`)
                span.message-time__img= message.time
            else
                p= message.content
                span.message-time= message.time