mixin message(message)
    div(class=`${message.className}`)
        .message__content
            p= message.content
            if message.isImg
                img(src=`${message.img.path}` alt=`${message.img.alt}`)
        span.message__date= message.date